public-hoist-pattern[]=enhanced-resolve
onlyBuiltDependencies[]=@tailwindcss/oxide
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=keccak
onlyBuiltDependencies[]=bufferutil
onlyBuiltDependencies[]=utf-8-validate
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=workerd
